/* =============== COLORES */
:root {
    --bg-main-color: #000;
    --text-main-color: #FFF;
    --light-gray-color: #F5F5F5;
}

/* =============== GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
main{
    /*height: pantalla - (header + footer) */
    height: calc(100vh - (3.31rem + 2.06rem));
    width: 100%;
}
iframe{
    min-width: 1px;
    width: 100%;
    height: 100%;
}
.color-inherit {
    color: inherit !important;
}
.navbar {
    background-color: var(--bg-main-color) !important;
    color: var(--text-main-color) !important;
}
.card {
    width: 100px !important;
}
.footer{
    background-color: var(--bg-main-color) !important;
    color: var(--text-main-color) !important;
}
.disable-element {
    pointer-events: none !important;
    opacity: .5;
}

/* =============== ACCESOS DIRECTOS */

.category-title {
    background-color: var(--light-gray-color);
    font-weight: 500;
}
.category-shortcuts {
    display: grid;
    grid-template-columns: repeat(auto-fill, 7.5rem);
    grid-auto-rows: auto;
    gap: 1rem;
}
.shortcut-container {
    transition: .3s;
    outline: 1px solid transparent;
}
.shortcut-container:hover {
    box-shadow: 3px 3px 9px 0 #DDD;
    outline: 1px solid #DDD;
}
.figure-img {
    width: 100%;
}
.figure-caption {
    word-break: break-word;
    text-align: center;
}

/* NOTIFICACIONES */
#notis_container {
    width: 25rem;
    max-height: 80vh;
    overflow-y: auto;
}
.notify-not-readed_ {
    background-color: rgba(0, 128, 255, 0.1);
}
.dropdown-item:hover {
    background-color: rgba(102, 177, 253, 0.1) !important;
}
#btn_notis {
    position: relative;
}
#notis_num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: rgb(200, 0, 0);
    color: #FFF;
}
.notify-desc {
    white-space: break-spaces;
    display: block;
}
.loading {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .5);
    &::before{
        content: "";
        position: absolute;
        left: -15%;
        height: 5px;
        width: 15%;
        background-color: #FFF;
        animation: loading 2s ease-in-out infinite;
    }
}

@media screen and (max-width: 768px)
{
    .category-shortcuts {
        gap: .7rem;
    }
}

@keyframes loading {
    0% { left: -15%; }
    100% { left: 100%; }
}