/* COLORS */
:root {
    --bg-main-color: #000;
    --text-main-color: #FFF;
    --light-gray-color: #F5F5F5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
main{
    /*height: pantalla - (header + footer) */
    height: calc(100vh - (3.31rem + 2.06rem));
    width: 100%;
}
iframe{
    min-width: 1px;
    width: 100%;
    height: 100%;
}
.color-inherit {
    color: inherit !important;
}
.navbar {
    background-color: var(--bg-main-color) !important;
    color: var(--text-main-color) !important;
}
.card {
    width: 100px !important;
}
.footer{
    background-color: var(--bg-main-color) !important;
    color: var(--text-main-color) !important;
}
.category-title {
    background-color: var(--light-gray-color);
    font-weight: 500;
}
.category-shortcuts {
    display: grid;
    grid-template-columns: repeat(auto-fill, 7.5rem);
    grid-auto-rows: auto;
    gap: 1rem;
}
.shortcut-container {
    transition: .3s;
    outline: 1px solid transparent;
}
.shortcut-container:hover {
    box-shadow: 3px 3px 9px 0 #DDD;
    outline: 1px solid #DDD;
}
.figure-img {
    width: 100%;
}
.figure-caption {
    word-break: break-word;
    text-align: center;
}

@media screen and (max-width: 768px)
{
    .category-shortcuts {
        grid-template-columns: repeat(auto-fill, 5rem);
        gap: .7rem;
    }
}